<div class="new-burger-form">
  <div class="container">
    <div class="section">
      <div class="section-heading">
        <h1>Add New Burger</h1>
      </div>

      <form action="/burgers" method="post">
        <div class="field row">
          <div class="col-2">
            <label for="name">Name</label>
          </div>
          <div class="col-10">
            <input type="text" name="name" id="name"/>
          </div>
        </div>

        <div class="field row">
          <div class="col-2">
            <label for="name">Description</label>
          </div>
          <div class="col-10">
            <textarea name="description" cols="30" rows="5"></textarea>
          </div>
        </div>

        <div class="field row">
          <div class="col-2">
            <label for="price">Price</label>
          </div>
          <div class="col-10">
            <input type="text" name="price" id="price"/>
          </div>
        </div>

        <div class="field row">
          <div class="col-2">
            <label for="eatery">Eatery</label>
          </div>
          <div class="col-10">
            <select name="eatery_id" id="eatery">
              <% @eateries.each do |eatery| %>
                  <option value="<%= eatery.id %>"><%= eatery.name %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="field row">
          <div class="col-2">
            <label for="image-url">Image URL</label>
          </div>
          <div class="col-10">
            <input type="text" name="image_url" id="image-url"/>
          </div>
        </div>

        <div class="form-footer">
          <input type="submit" class="btn btn-green" value="Add Burger"/>
        </div>
      </form>

    </div>
  </div>
</div>