<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Burger Deal Tracker</title>
  <link rel="icon" href="/images/favicon.ico"/>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<!--
 MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmmmdhhyso+oo+:://+:::/+oosyhdNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmmdhyso++s+:-:/o/://+osshdmNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNmhyyso+//++///::/+oosyhdmNNNNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNNNmddhyo+++////+++oyhddmmmdddmdmNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNmddmdmmyso++////////+oyhdmddddddydNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMmdyydmmmhso+////////////oyydmdmdddsNmmMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMmmhdmNmhyo++/////:///++++ohddmmmmdmmhmNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmmmmddhhhyyys+////++yyhhhddddmmmmdmmNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNmmmmdhdyssosss+//osssssooshdddmmmmNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmNmmhdhsooss+os//o++oooooosydhdmmNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmmhdyoo++++os//++++/++++ooyddmmNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmmddhso+//+os/:+o+/:://+osyddmmNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNdddy++//+ss/:/oso+///+osydmmmmmNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmNmmdho++osydysyhyssso+osshdmmd//hhdmmmdmNMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMNNmmN+ymmmhyydmmdhyoyyddmdhhyhydmmdy--ossyssssydNMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMNNmdhyyy/:+ydmdddddddhs+osyhhyhyyhddddh/:/o++ooo+++osdMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMNmhsooooos+:-:smmddyyyssyhyysssyhyddddddo-://////////++ymMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMNmysso+o+++//:::/mmmmdhhhhys/yhhhhdddmdhy+--:////::::///++sdMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMNmyssoo++++/////:-:/yddmdddddhshddddddddho---::://::/:////+++sdNMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMmhoooo+o++++///:::::-:-/hdmmmmmdhdddddddddo--:-:/::///////:://+odMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMNdyyso/++/////:::::::----:hdmmmmdyhddddddh/--:::/::::::/::::////odNMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMNdyyo++/////::::::::::-----+dddmhshddddds:--::::::://::::--::/++smmNNMMMMMMMMMMMMMMMM
MMMMMMMMMMNNNNNNNNhss++////:::::::::::--:::syddddddds/--::///++/://::://:://++shdmNMMMMMMMMMMMMMMMMM
MMMMMMMMMMNNNNNNNNNdso+///::::::::::::::----:+ohdhs+:--::::////::::::///:::/osydmmmNNNNMMMMMMMMMMMMM
MMMMMMMMMMMMmhhhdmmhyoo+/:--:::::::::::::--:-:--:::::::::::/o//::::::::::://oyhdmmmmmmmNNMMMMMMMMMMM
MMMMMMMMNho+/oo+://::+///::--:::::://:::::---:://:::::::-:/o+///:::::::::/++/+o/++o++/+++ohNMMMMMMMM
MMMMMMNhs//+///---:--.///++:::::/:::////+/:-:::/://:::::::++++/::::::::////-/:---/+oso+:/+oohNMMMMMM
MMMMMNyss/+:-::-.-:---oooyyo////::::/+/:/+/:////::///:::/++++o+:---::::/+:-:/:..-:-.-+oo/:+ssyNMMMMM
MMMMMdyyyso:-:/:----./dmNNs+/++o++++//:::+++/::-------:/++:////++++++o++o/:+y-..--..-::/oo/yyyhMMMMM
MMMMNmhyyym//:----:///yNMmhyyo//:::::://://+o+oo+so+s++o/://+//:::::/+oydmNNs..-:-.-::--/+:ohhdMMMMM
MMMMMMNmmyNh/syo++o/--:hmdhyo+////:::://////+oos+os+s+o+:/+oo+///:::/+soymNN/..-:---/--:+y:sNMMMMMMM
MMMMMMMMMshMmddy+/smdmmdNmdhso++/::://///+///+ysoysoso+osyoo+++/:://oyhhyhNh-..:-.-:/:+/ossNMMMMMMMM
MMMMMMMMMNdNMMMMMMMMNNNmNNmmddyss++++////+so+oyssyysysyyo+++oo++///+yhhdmNNms+++---/:-+mNNMMMMMMMMMM
MMMMMMMMMMMmNNNMMNNNNMMMMMMNNNNmdyyso+//:+syyssooyyossoo+sosossssssydddNNMMMMMMmhyhhyydMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNmdyo/+//++s+sooso+oos+o++ys++osyhddmmNNMMMMMMMMMMMMNMMMMMMMMMMMMMMMM -->

<nav>
  <h1 class="brand"><a href="/">Burger Deal Tracker</a></h1>
  <ul>
    <li>
      <a href="/eateries">All Eateries</a>
      <a href="/burgers">All Burgers</a>
      <a href="/deals">All Deals</a>
    </li>
  </ul>
</nav>

<%= yield %>

</body>
</html>