<div class="new-eatery-form">
  <div class="container">
    <div class="section">
      <div class="section-heading">
        <h1>Add New Eatery</h1>
      </div>

      <form action="/eateries" method="post">

        <div class="field row">
          <div class="col-2">
            <label for="name">Name</label>
          </div>
          <div class="col-10">
            <input type="text" name="name" id="name"/>
          </div>
        </div>

        <div class="field row">
          <div class="col-2">
            <label for="address">Address</label>
          </div>
          <div class="col-10">
            <input type="text" name="address" id="address"/>
          </div>
        </div>

        <div class="field row">
          <div class="col-2">
            <label for="telephone">Telephone</label>
          </div>
          <div class="col-10">
            <input type="tel" name="telephone" id="telephone"/>
          </div>
        </div>

        <div class="field row">
          <div class="col-2">
            <label for="email">Email</label>
          </div>
          <div class="col-10">
            <input type="email" name="email" id="email"/>
          </div>
        </div>

        <div class="field row">
          <div class="col-2">
            <label for="website-url">Website URL</label>
          </div>
          <div class="col-10">
            <input type="text" name="website_url" id="website-url"/>
          </div>
        </div>

        <div class="field row">
          <div class="col-2">
            <label for="image-url">Image URL</label>
          </div>
          <div class="col-10">
            <input type="text" name="image_url" id="image-url"/>
          </div>
        </div>

        <div class="form-footer">
          <input type="submit" class="btn btn-green" value="Add Eatery"/>
        </div>
      </form>

    </div>
  </div>
</div>