.burgers-page, .single-burger, .new-burger-form {
  background-color: #EFE5CB;
}

.burger-details--eatery {
  padding:       .5rem 1rem;
  border:        1px solid rgba(0, 0, 0, 0.54);
  border-radius: 5px;
}

.burger-details--eatery .row {
  margin-bottom: 0;
  align-items:   center;
}

.burger-details--eatery a {
  text-decoration: none;
  color:           rgba(0, 0, 0, 0.54);
  padding:         0.5rem 1rem;
  margin-left:     -1rem;
  transition:      all .3s ease-in-out;
}

.burger-details--eatery a:hover {
  background-color: #e1e1e1;
}

.burger {
  border:          1px solid rgba(0, 0, 0, 0.87);
  border-radius:   10px;
  height:          100%;
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;
  margin-top:      1rem;
}

.burger img {
  width: 100%;
}

.burger-body {
  padding: 0.75rem
}

.burger-body h1 {
  color:         rgba(0, 0, 0, 0.87);
  margin-bottom: 0.5rem;
}

.burger-footer {
  background-color:           #eee;
  border-bottom-left-radius:  5px;
  border-bottom-right-radius: 5px;
  padding:                    1rem;
  display:                    flex;
  justify-content:            flex-end;
  align-items:                center;
}

.single-burger .description {
  margin-top: 1rem;
  padding:    1rem;
  background: #eee;
}

.single-burger form {
  padding: 0;
  border:  none;
}

.burger-choice label {
  text-align: left !important;
}