.single-deal, .new-deal-form {
  background-color: #EFE5CB;
}

.feature {
  height:              30vh;
  background:          linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('./images/deals-feature-bg.jpg');
  background-position: center;
  background-size:     cover;
  background-repeat:   no-repeat;
  display:             flex;
  align-items:         center;
  justify-content:     center;
}

.feature h1 {
  color:      #fff;
  text-align: center;
  font-size:  3rem;
}

.add-deal-btn {
  position: absolute;
  top:      32vh;
  right:    2rem;
  z-index:  100;
}

.content-wrapper {
  min-height: 70vh;
}

.sidebar {
  flex:             0 0 20%;
  padding:          2rem;
  background-color: #EFE5CB;
  margin-right:     1rem;
}

.sidebar form {
  border: none;
}

.sidebar .field {
  padddng: 0
}

.sidebar select {
  background:    #fff;
  border:        1px solid rgba(0, 0, 0, 0.54);
  border-radius: 1px;
  width:         100%;
  margin-bottom: 0.5rem;
  height:        48px;
  font-size:     1.5rem;
  color:         rgba(0, 0, 0, 0.87);
}

.deal {
  border:          1px solid rgba(0, 0, 0, 0.87);
  border-radius:   10px;
  height:          100%;
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;
  margin-top:      1rem;
}

.deal img {
  width: 100%;
}

.deal-body {
  padding: 0.75rem
}

.deal-body h1 {
  color:      rgba(0, 0, 0, 0.87);
  text-align: center;
}

.deal-footer {
  background-color:           #eee;
  border-bottom-left-radius:  5px;
  border-bottom-right-radius: 5px;
  padding:                    1rem;
  display:                    flex;
  justify-content:            flex-end;
  align-items:                center;
}

.deal-details {
}

.deal-details .section-heading {
  margin-top:    2rem;
  margin-bottom: 2rem;
}

.deal-details .day {
  padding:          1rem;
  background-color: #e1e1e1;
  display:          inline-block;
  border-radius:    10px;
}

.burger-prices {
  display:         flex;
  justify-content: flex-end;
  align-items:     center;
}

.old-price {
  text-decoration: line-through;
  font-size:       1.2rem;
}

.new-price {
  font-size:        2rem;
  margin-left:      1rem;
  padding:          0.5rem 0.75rem;
  background-color: #e1e1e1;
  border-radius:    5px;
}

.single-deal form {
  padding: 0;
  border:  none;
}

.no-deals {
  font-size: 1.4rem;
}

.no-deals i {
  font-size:    1.6rem;
  color:        #b71c1c;
  margin-right: 1rem;
}