@import "deals.css";
@import "burgers.css";
@import "eateries.css";

@font-face {
  font-family: 'Insaniburger';
  font-style:  normal;
  font-weight: normal;
  src:         local('./fonts/Insaniburger'), url('./fonts/Insanibu.woff') format('woff');
}

* {
  padding:     0;
  margin:      0;
  box-sizing:  border-box;
  font-family: 'avenir';
}

img {
  width: 100%;
}

.row {
  display:       flex;
  flex-wrap:     wrap;
  margin-bottom: 1rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position:      relative;
  width:         100%;
  min-height:    1px;
  padding-left:  1rem;
  padding-right: 1rem;
}

.col-1 {
  flex:      0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex:      0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex:      0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex:      0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex:      0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex:      0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex:      0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex:      0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex:      0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex:      0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex:      0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex:      0 0 100%;
  max-width: 100%;
}

nav {
  display:          flex;
  justify-content:  space-between;
  align-items:      center;
  height:           65px;
  padding:          0.75rem 2rem;
  background-color: #cc0000;
  position:         relative;
  z-index:          10;
  box-shadow:       0 5px 5px rgba(0, 0, 0, 0.5);
}

nav .brand a {
  font-family:     'Insaniburger';
  color:           #fff;
  text-decoration: none;
  letter-spacing:  1px
}

nav ul {
  list-style: none;
}

nav ul a {
  padding:         0.5rem 1rem;
  text-decoration: none;
  color:           #fff;
  transition:      all 0.3s;
}

nav a:hover {
  background-color: #b71c1c
}

.btn {
  background:      transparent;
  border-radius:   5px;
  color:           #fff;
  padding:         0.5rem 0.75rem;
  text-decoration: none;
  transition:      background-color 0.3s ease;
  border:          none;
  font-size:       1rem;
  cursor:          pointer;
  font-weight:     700;
}

.btn-block {
  display: block;
  width:   100%;
}

.btn-green {
  background-color: #00C851;
}

.btn-green:hover {
  background-color: #007E33;
}

.btn-blue {
  background-color: #33b5e5;
}

.btn-blue:hover {
  background-color: #0099CC;
}

.container {
  max-width:        970px;
  margin:           0 auto;
  background-color: #fff;
  padding:          1rem;
  min-height:       95vh;
}

.content-wrapper {
  display: flex;
}

.main-content {
  flex-grow: 1;
}

.section {
  margin-top: 2rem;
}

.section-heading {
  padding-bottom:  1rem;
  border-bottom:   1px solid rgba(0, 0, 0, 0.87);
  width:           100%;
  margin-bottom:   1rem;
  display:         flex;
  align-items:     center;
  justify-content: space-between;
  padding-right:   2rem;
}

.section-heading h1 {
  color:       rgba(0, 0, 0, 0.87);
  font-family: 'avenir';
  font-size:   2rem;
}

form {
  border:        1px solid rgba(0, 0, 0, 0.87);
  border-radius: 5px;
  padding-top:   1rem;
}

.field {
  padding:     0.5rem 2rem;
  align-items: center;
}

.field label {
  width:      100%;
  text-align: right;
  display:    inline-block;
}

.field input, .field select, .field textarea {
  width:     100%;
  padding:   .5rem 1rem;
  font-size: 1rem;
}

.field select {
  height: 40px
}

.form-footer {
  display:          flex;
  align-items:      center;
  justify-content:  flex-end;
  padding:          1rem 2rem;
  background-color: #e1e1e1;
}

.description {
  font-size:   1.2rem;
  font-weight: 200;
  line-height: 1.4;
}